
.tiles-group {
    margin-left: 10px;
    margin-top: 50px;
}

.start-screen-title {
    color: #ffffff;
    margin: 40px 20px;
}

.start-screen{
    // top: 50%;
    // transform: translateY(-50%);
    margin-bottom: -17px;
}
.hidden-scroll{
    overflow: hidden;
}
// ::-webkit-scrollbar{
//     display:none;
//     }