
.tiles-group {
    margin-left: 10px;
    margin-top: 50px;
}

.start-screen{
    // top: 50%;
    // transform: translateY(-50%);
    margin-bottom: -17px;
}
.hidden-scroll{
    overflow: hidden;
}
.tiles-area{
    padding-bottom: 17px;
}
.window-current{
    z-index: 11!important;
}